.container {
  background-image: url(../../../public/images/Background.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 140px);
}

.title {
  padding: 0 35px;
  position: relative;
  z-index: 1;
}

.text {
  font-size: 1.35em;
  padding: 0 35px;
  text-align: left;
  width: 80%;
  z-index: 5;
  position: relative;
}

.crown {
  position: absolute;
  right: -20px;
  bottom: -30px;
  width: 80%;
}

@media (min-width: 1042px) {
  .container {
    min-height: calc(100vh - 210px) !important;
  }

  .title {
    font-size: 5em !important;
  }
}

@media (min-width: 480px) {
  .container {
    min-height: calc(100vh - 130px);
  }

  .crown {
    position: absolute;
    right: -20px;
    bottom: -30px;
    width: 45%;
    max-width: 90vh;
  }

  .title {
    font-size: 4em;
    padding: 0 100px;
  }

  .text {
    padding: 0 100px;
    width: 40%;
  }
}
