.container {
  height: 140px;
  background: linear-gradient(250deg, #B318EA, #1AAD9C);
  padding: 40px 35px 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-style: italic;
  font-size: 0.75em;
}

.logo {
  height: 70px;
}

.bronnenlijst {
  text-decoration: underline;
}

@media (min-width: 480px) {
  .container {
    padding: 40px 100px 20px 100px;
  height: 170px;
  }
  .text-container {
    font-size: 0.85em;
  }
}

